{% extends 'layout.html' %}


{% block content %}
    <div class="hero-unit">
      <h1>
        Hi. I'm Dave.
      </h1>
      <p>
        I'm a front-end developer, designer, and a lifelong learner.<br/>
        I love building things, understanding how they work, and trying to improve them.
      </p>
      <a class="btn btn-large btn-success" href="{{ get_url('resume/') }}">View My Resume</a>
      </div>
      <h2>What I do</h2>
      <div class="row">
        <div class="span4 margin-bot-small">
            <h3 class="dev">Front End Dev</h3>
            <p>
                I love modern web development. I hack a fair bit in js, and a
                slightly smaller bit in py. Currently I'm enamored with Python
                web frameworks, specifically, Tornado.
            </p>
            <a class="btn btn-small" href="{{ get_url('portfolio/') }}">See Samples</a>
        </div>
        <div class="span4 margin-bot-small">
            <h3>Design</h3>
            <p>
                For the past 10+ years I've kept busy designing for print and web.
                My expertise ranges from trade show displays and annual reports, to iOS and android devices.
            </p>
            <a class="btn btn-small" href="{{ get_url('portfolio/') }}">See Samples</a>

        </div>
        <div class="span4 margin-bot-small">
            <h3>Video</h3>
            <p>
                I'm a "picture is worth 1k words" guy. And I think a quality video is worth 1k pictures.
            </p>
            <a class="btn btn-small" href="{{ get_url('portfolio/') }}">See Samples</a>
        </div>
      </div>
{% endblock %}
