{% extends 'layout.html' %}

{% block script %}
$('.carousel').hide();
$('.carousel').carousel({
  interval: 2000,
  pause: 'hover'
})
$('.carousel').fadeIn();
{% endblock %}

{% set title = 'Dave Birch' %}

{% block content %}
<div class="header">
</div>
<div class="row">
    <div class="span2">
          <h1>Portfolio</h1>
    </div>
    <div class="span8">
        <div class="portfolio-frame">
          <div id="webCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="{{ get_asset('images/portfolio/snoball.jpg') }}" alt="Snoball">
                    <div class="carousel-caption">
                      <h4>Snoball</h4>
                      <div class="pull-right">
                      <a class="btn btn-success" href="https://www.snoball.com/give/c47j">Visit Site</a>
                      </div>
                      <p>
                      Design and implementation of several pages, including donation page
                      and nonprofit page. Developed identity and videos. Developed and implemented some APIs.
                      </p>
                      <p class="smaller"><b>Technology Used:</b> Javascript, CSS, HTML, Python (Tornado), Adobe CS</p>
                    </div>
              </div>
              <div class="item">
                <img src="{{ get_asset('images/portfolio/blinksend.jpg') }}" alt="Blinksend">
                    <div class="carousel-caption">
                      <h4>Blinksend</h4>
                      <div class="pull-right">
                      <a class="btn btn-success" href="http://www.blinksend.com/">Visit Site</a>
                      </div>
                      <p>
                      Designed and participated in implementing wireframe, logos, videos, and UI for global site, including user management applications.
                      </p>
                      <p class="smaller"><b>Technology Used:</b> Javascript, CSS, HTML, Python (Tornado), Adobe CS</p>
                    </div>
              </div>
              <div class="item">
                <img src="{{ get_asset('images/portfolio/phodder.jpg') }}" alt="Phodder">
                    <div class="carousel-caption">
                      <h4>Phodder</h4>
                      <div class="pull-right">
                      <a class="btn btn-success" href="http://www.phodder.com">Visit Site</a>
                      </div>
                      <p>
                      Designed and participated in implementing wireframes, logos, and UI for global site. Developed interfaces for several mobile web and iOS applications.
                      </p>
                      <p class="smaller"><b>Technology Used:</b> Javascript, CSS, HTML, Python (Django), Adobe CS</p>
                    </div>
              </div>
              <div class="item">
                <img src="{{ get_asset('images/portfolio/georeader.jpg') }}" alt="Georeader">
                    <div class="carousel-caption">
                      <h4>Georeader</h4>
                      <div class="pull-right">
                      <a class="btn btn-success" href="http://www.mygeoreader.com">Visit Site</a>
                      </div>
                      <p>
                      Prototyped, developed wireframes designed site and identity, and implemented Google Maps Integration and UI throughout site.
                      </p>
                      <p class="smaller"><b>Technology Used:</b> Javascript, CSS, HTML, Python(Django), Adobe CS</p>
                    </div>
              </div>
              <div class="item">
                <img src="{{ get_asset('images/portfolio/ngvintage.jpg') }}" alt="Northgate Vinage">
                    <div class="carousel-caption">
                      <h4>Northgate Vintage</h4>
                      <p>
                      Prototyped, developed wireframes designed site and identity, implemented site administration and UI throughout site.
                      </p>
                      <p class="smaller"><b>Technology Used:</b> Javascript, CSS, HTML, Python(Django and Satchmo), Adobe CS</p>
                    </div>
              </div>
            </div>
            <a class="left carousel-control" href="#webCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#webCarousel" data-slide="next">&rsaquo;</a>
          </div>

        </div>
        <div class="box-shadow"><img src="{{ get_asset('images/portfolio_shadow.png')}}" alt="bg shadow"/></div>
    </div>
    <div class="span2"></div>
</div>
<!--
<div class="row">
    <div class="offset2 span8">
    <div class="portfolio-picker">
    <a href="#" id="web" class="portfolio-option">
    Web Development
    </a>
    <a href="#" id="interactive" class="portfolio-option">
    Interactive Design
    </a>
    <a href="#" id="print" class="portfolio-option">
    Print Design
    </a>
    </div>
    </div>
    <div class="span2">
    </div>
</div>
-->

{% endblock %}
{% block darker %}
<div class="bottom-bar">
</div>
{% endblock %}
